# Environment variables
.env

# Dependencies
node_modules/

# DB data
src/db/data.json

# Logs
logs/

# Typescript build output
dist/

# Files no longer needed
src/routes/rooms.route.js
src/controllers/rooms.controller.js